html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.myLogin {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

.myLogin strong {
	font-weight: 500;
}

.myLogin a,
.myLogin a:hover,
.myLogin a:focus {
	color: #4aaf51;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.myLogin h1,
.myLogin h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

.myLogin h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

.myLogin img {
	max-width: 100%;
}

.myLogin ::-moz-selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

.myLogin ::selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

.myLogin .btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.myLogin .btn-link-1:hover,
.myLogin .btn-link-1:focus,
.myLogin .btn-link-1:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.myLogin .btn-link-1.btn-link-1-Wechat {
	background: #4862a3;
}

.myLogin .btn-link-1.btn-link-1-QQ {
	background: #55acee;
}

.myLogin .btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.myLogin .btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.myLogin .btn-link-2:hover,
.myLogin .btn-link-2:focus,
.myLogin .btn-link-2:active,
.myLogin .btn-link-2:active:focus {
	outline: 0;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}


/***** Top content *****/

.myLogin .inner-bg {
	padding: 100px 0 170px 0;
}

.myLogin .top-content .text {
	color: #fff;
}

.myLogin .top-content .text h1 {
	color: #fff;
}

.myLogin .top-content .description {
	margin: 20px 0 10px 0;
}

.myLogin .top-content .description p {
	opacity: 0.8;
}

.myLogin .top-content .description a {
	color: #fff;
}

.myLogin .top-content .description a:hover,
.myLogin .top-content .description a:focus {
	border-bottom: 1px dotted #fff;
}

.myLogin .form-box {
	margin-top: 35px;
}

.myLogin .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.myLogin .form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.myLogin .form-top-left h3 {
	margin-top: 0;
}

.myLogin .form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.myLogin .form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.myLogin .form-bottom form textarea {
	height: 100px;
}

.myLogin .form-bottom form button.btn {
	width: 100%;
}

.myLogin .form-bottom form .input-error {
	border-color: #4aaf51;
}

.myLogin .social-login {
	margin-top: 35px;
}

.myLogin .social-login h3 {
	color: #fff;
}

.myLogin .social-login-buttons {
	margin-top: 25px;
}

.myLogin .copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	.myLogin .inner-bg {
		padding: 60px 0 110px 0;
	}
}

@media (max-width: 415px) {
	.myLogin h1,
	.myLogin h2 {
		font-size: 32px;
	}
}

.myLogin input[type="text"],
.myLogin input[type="password"],
.myLogin textarea,
.myLogin textarea.form-control {
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #f8f8f8;
	border: 3px solid #ddd;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.myLogin textarea,
.myLogin textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.myLogin input[type="text"]:focus,
.myLogin input[type="password"]:focus,
.myLogin textarea:focus,
.myLogin textarea.form-control:focus {
	outline: 0;
	background: #fff;
	border: 3px solid #ccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.myLogin input[type="text"]:-moz-placeholder,
.myLogin input[type="password"]:-moz-placeholder,
.myLogin textarea:-moz-placeholder,
.myLogin textarea.form-control:-moz-placeholder {
	color: #888;
}

.myLogin input[type="text"]:-ms-input-placeholder,
.myLogin input[type="password"]:-ms-input-placeholder,
.myLogin textarea:-ms-input-placeholder,
.myLogin textarea.form-control:-ms-input-placeholder {
	color: #888;
}

.myLogin input[type="text"]::-webkit-input-placeholder,
.myLogin input[type="password"]::-webkit-input-placeholder,
.myLogin textarea::-webkit-input-placeholder,
.myLogin textarea.form-control::-webkit-input-placeholder {
	color: #888;
}

.myLogin button.btn {
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #4aaf51;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

.myLogin button.btn:hover {
	opacity: 0.6;
	color: #fff;
}

.myLogin button.btn:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.myLogin button.btn:focus {
	outline: 0;
	opacity: 0.6;
	background: #4aaf51;
	color: #fff;
}

.myLogin button.btn:active:focus,
.myLogin button.btn.active:focus {
	outline: 0;
	opacity: 0.6;
	background: #4aaf51;
	color: #fff;
}