<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style type="text/css">

    </style>
</head>
<body>

    <input type="button" id="logoutBtn" value="注销" />

    <br/>

    <ul id="menu"></ul>

    <!--<script th:src="@{/js/jquery-2.1.0.js}"></script>-->
    <script src="/sbl2/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {

            //获取菜单
            $.ajax({
                type: "GET",
                url: "/sbl2/user/getMenu",
                data: {},
                dataType: "JSON",
                success: function(data) {
                    if (data.success) {
                        console.log(data.data);
                        for (var i = 0; i < data.data.length; i++) {
                            $li = $('<li>' + data.data[i].name + '</li>')
                            $ol = $('<ol></ol>');
                            for (var j = 0; j < data.data[i].menuLevel2.length; j++) {
                                $ol.append($('<li><a href="'+data.data[i].menuLevel2[j].url+'">'+data.data[i].menuLevel2[j].name+'</a></li>'));
                            }
                            $li.append($ol);
                            $("#menu").append($li);
                        }
                    }else {
                        alert(data.message);
                    }
                },
                error: function(XHR) {
                    alert(XHR.status);
                }
            });

            //注销
            $("#logoutBtn").click(function() {
                $.ajax({
                    type: "GET",
                    url: "/sbl2/user/logout",
                    data: {},
                    dataType: "JSON",
                    success: function(data) {
                        if (data.success) {
                            window.location.href = "/sbl2" + data.data;
                        }else {
                            alert(data.message);
                        }
                    },
                    error: function(XHR) {
                        alert(XHR.status);
                    }
                });
            });
        });
    </script>
</body>
</html>