<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form>
    <span>用户名：</span><input type="text" id="username"/>
    <span>密码：</span><input type="text" id="password"/>
    <input type="button" id="loginBtn" value="登陆"/>
</form>

<br />

<p id="onlines"></p>

<!--<script th:src="@{/js/jquery-2.1.0.js}"></script>-->
<script src="/sbl2/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
<script src="/sbl2/js/yeta.ajax.js" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript" charset="utf-8">
    $(function () {

        //页面加载获取在线人数
        AJAX.request("GET", "/sbl2/user/onlines", {}, function(result) {
                $("#onlines").html("当前在线人数：" + result.length);
                for (var i = 0; i < result.length; i++) {
                    $("#onlines").append($('<p>' + result[i].id + '</p>'));
                }
            });

        $("#loginBtn").click(function () {
            //请求登陆
            AJAX.request("POST",
                "/sbl2/user/login",
                {
                    "username": $("#username").val().trim(),
                    "password": $("#password").val().trim()
                }, function(result) {
                    window.location.href = result;
                });
        });
    });
</script>
</body>
</html>