<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeta.sbl2.mapper.MyRoleFunctionMapper" >
    <select id="findRoleFunctionByRoleId" resultType="com.yeta.sbl2.pojo.RoleFunction" parameterType="java.lang.Integer">
        SELECT
          id,
          roleId,
          functionId
        FROM
          role_function
        WHERE
          roleId = #{roleId}
    </select>
</mapper>